body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-left: 180px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding-top: 36px;
  height: 120px;
  font-size: 3rem;
  text-decoration: none;
}

/* The sidebar menu */
.sidenav {
  height: auto;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  margin-top: 156px;
}

/* The navigation menu links */
.sidenav a,
.addnote_button {
  border: 1px solid #000;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.addnote_button {
  margin: auto 12px 24px 0;
}

.sidenav .addfolder_button {
  margin-top: 24px;
}

.addfolder {
  width: 100%;
}

.center-text {
  text-align: center;
}

.notes {
  border: 1px solid;
  margin: auto 12px 24px 0;
  text-align: left;
  padding: 8px;
}

.noteCard {
  border: 1px solid;
  margin: auto 12px 24px 0;
  text-align: left;
  padding: 8px;
}

.noteContent {
  margin: auto 12px 24px 0;
  text-align: left;
  padding: 8px;
}

button {
  border: 1px solid;
  background-color: #fff;
  font-size: 1rem;
  padding: 8px 4px;
  margin: 12px auto;

  cursor: pointer;
}

.edit-button {
  border: 1px solid;
  font-size: 1rem;
  padding: 8px 4px;
  /* width: 43%;
  max-width: 85px; */
}

.edit-button:hover {
  cursor: pointer;
}

.edit-button a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 24px;
  margin-top: 24px;
  text-align: left;
}

#name,
#folderName,
#content {
  display: block;
  width: 90%;
}

.goBack {
  display: block;
}

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
}

.item-3 {
  flex: 3;
}

.delete-folder-button {
  color: crimson;
}

.main-group {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 587px) {
  .edit-button {
    width: 85px;
  }
}

@media all and (max-width: 350px) {
  .main-group {
    flex-direction: row;
  }
}